name: Test staging environment
on:
#  # Uncomment when test added first time to register workflow and comment it back after workflow would be registered
#  #
#  # Added pull_request to register workflow from the PR.
#  # Read more https://stackoverflow.com/questions/63362126/github-actions-how-to-run-a-workflow-created-on-a-non-master-branch-from-the-wo
#  pull_request: {}
  workflow_dispatch: {}

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: echo "Do setup"

  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: [setup]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: ./
        id: current
        with:
          implementation_repository: cloudposse/actions-private
          implementation_path: 'environments/'
          implementation_ref: main
          implementation_github_pat: ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}
          environment: staging
          namespace: staging

    outputs:
      name: "${{ steps.current.outputs.name }}"
      cluster-role: "${{ steps.current.outputs.cluster-role }}"
      namespace: "${{ steps.current.outputs.namespace }}"

  assert:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: nick-fields/assert-action@v1
        with:
          expected: 'cplive-plat-ue2-dev-eks-blue-cluster'
          actual: "${{ needs.test.outputs.name }}"

      - uses: nick-fields/assert-action@v1
        with:
          expected: 'staging'
          actual: "${{ needs.test.outputs.namespace }}"

  teardown:
    runs-on: ubuntu-latest
    needs: [assert]
    if: ${{ always() }}
    steps:
      - name: Tear down
        run: echo "Do Tear down"
